@import '../../../../../../_variables.scss';

.WhoseRecord {
    display: grid;
    grid-template-columns: 45px 1fr;
    align-items: center;
    font-size: 1rem;
    color: $font_color_gray;
    background-color: $second_color;
    padding: 5px;
    height: auto;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}