@import '../../../_variables.scss';

.WorkWithApi {
    padding: 20px;
    background-color: $accent;

    .InputWithButton {
        margin-bottom: 20px;
    }

    @media (max-width: 800px) {
        max-width: 780px;
    }

    @media (max-width: 400px) {
        max-width: 380px;
    }
}