@import '../../../_variables.scss';

.Profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: top;
    height: 100%;

    @media (max-width: 800px){
        padding: 10px;
    }
}