@import '../../../_variables.scss';

.Input {
    min-height: 35px;
    padding-left: 10px;
    width: 100%;
    font-size: 1.1rem;
    border: 3px solid transparent;
    border-radius: 3px 0 0 3px;

    @media (max-width: 520px) {
        width: 85%;
    }


    &:focus {
        border-color: $second_color;

    }
}

input[name="filterSliderContent"] {
    padding: 0;
}